<div class="container">
    <button class="btn btn-info my-3" [routerLink]="['/to-do-ajout']">ajouter to do</button>

    <h2>to do</h2>
    <div *ngIf="todos.length > 0;then todoo else noTodo"></div>
    <ng-template #noTodo>
        <div class="alert alert-warning">no TODOS</div>
    </ng-template>

    <ng-template #todoo>

        <table class="table">
            <thead>
                <th>Numéro</th>
                <th>titre</th>
                <th>date d'ajout</th>
                <th>action</th>
            </thead>
            <tbody>
                <tr *ngFor="let todo of todos; let i=index">
                    <td>{{ i+1 }}</td>
                    <td>    </td>
                    <td>{{ todo.dateAjout | date : "fullDate"}}</td>
                    <td>
                        <button class="btn btn-success" (click)="tansfer(todo)">terminer</button>
                        <button class="btn btn-warning mx-3" (click)="modifier(todo)">modifer</button>
                        <button class="btn btn-danger" (click)="delete(todo)">supprimer</button>

                    </td>
                </tr>

            </tbody>

        </table>

    </ng-template>



    <hr>
    <h2>done</h2>

    <div *ngIf="dones.length > 0;then done else noDones"></div>
    <ng-template #noDones>
        <div class="alert alert-warning">no DONES</div>
    </ng-template>

    <ng-template #done>

        <table class="table">
            <thead>

                <th>titre</th>
                <th>date d'ajout</th>
                <th>date fin</th>

                <th>action</th>
            </thead>
            <tbody>
                <tr *ngFor="let done of dones">
                    <td>{{ done.title}}</td>
                    <td>{{ done.dateAjout | date : "fullDate"}}</td>
                    <td>{{ done.dateFin | date : "fullDate"}}</td>

                    <td>

                        <button class="btn btn-danger" (click)="deletee(done)">supprimer</button>



                    </td>
                </tr>


            </tbody>

        </table>
    </ng-template>



</div>
<app-footer></app-footer>