<div class="container">

  <form [formGroup]="addToDo" (ngSubmit)="addToDoo()">
      
    <div class="form-group">
      <label for="formGroupExampleInput">titre</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" name="titre"
        formControlName="titre">
      <div class="alert alert-warning" *ngIf="titre.touched && titre.invalid">
        <div *ngIf=titre.errors.required> le champ titre est obligatoire</div>
        <div *ngIf=titre.errors.minlength> min 2!</div>

      </div>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Description</label>
      <textarea class="form-control" name="description" formControlName="description"></textarea>
      <div class="alert alert-warning" *ngIf="description.touched && description.invalid">
        <div *ngIf=description.errors.minlength> min 2!</div>

      </div>

    </div>
    <input type="submit" class="btn btn-primary" [disabled]="addToDo.invalid" value="Ajouter">

  </form>
</div>

<app-footer></app-footer>